<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>ZKTeco</string>
		<key>parent_id</key>
		<string>-1</string>
		<key>iconName</key>
		<string>2</string>
		<key>subs</key>
		<array>
			<dict>
				<key>code</key>
				<integer>6</integer>
				<key>name</key>
				<string>Test Deaprtment1</string>
				<key>parent_id</key>
				<integer>0</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>8</integer>
						<key>name</key>
						<string>Test Deaprtment3</string>
						<key>parent_id</key>
						<integer>6</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>10</integer>
								<key>name</key>
								<string>Test Deaprtment4</string>
								<key>parent_id</key>
								<integer>8</integer>
								<key>subs</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<integer>7</integer>
				<key>name</key>
				<string>Test Deaprtment2</string>
				<key>parent_id</key>
				<integer>0</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>9</integer>
						<key>name</key>
						<string>Deaprtment15</string>
						<key>parent_id</key>
						<integer>7</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>11</integer>
								<key>name</key>
								<string>Department16</string>
								<key>parent_id</key>
								<integer>9</integer>
								<key>subs</key>
								<array>
									<dict>
										<key>code</key>
										<integer>12</integer>
										<key>name</key>
										<string>Department17</string>
										<key>parent_id</key>
										<integer>11</integer>
										<key>subs</key>
										<array>
											<dict>
												<key>code</key>
												<integer>13</integer>
												<key>name</key>
												<string>Department18</string>
												<key>parent_id</key>
												<integer>12</integer>
												<key>subs</key>
												<array/>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<integer>1</integer>
		<key>name</key>
		<string>Software Support</string>
		<key>parent_id</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>2</integer>
		<key>name</key>
		<string>Department19</string>
		<key>parent_id</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>3</integer>
		<key>name</key>
		<string>ZKTeco</string>
		<key>parent_id</key>
		<string>-1</string>
		<key>subs</key>
		<array>
			<dict>
				<key>code</key>
				<integer>14</integer>
				<key>name</key>
				<string>Test Deaprtment1</string>
				<key>parent_id</key>
				<integer>3</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>15</integer>
						<key>name</key>
						<string>Test Deaprtment3</string>
						<key>parent_id</key>
						<integer>14</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>16</integer>
								<key>name</key>
								<string>Test Deaprtment4</string>
								<key>parent_id</key>
								<integer>15</integer>
								<key>subs</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<integer>16</integer>
				<key>name</key>
				<string>Test Deaprtment2</string>
				<key>parent_id</key>
				<integer>14</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>17</integer>
						<key>name</key>
						<string>Deaprtment15</string>
						<key>parent_id</key>
						<integer>16</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>18</integer>
								<key>name</key>
								<string>Department16</string>
								<key>parent_id</key>
								<integer>17</integer>
								<key>subs</key>
								<array>
									<dict>
										<key>code</key>
										<integer>19</integer>
										<key>name</key>
										<string>Department17</string>
										<key>parent_id</key>
										<integer>18</integer>
										<key>subs</key>
										<array>
											<dict>
												<key>code</key>
												<integer>20</integer>
												<key>name</key>
												<string>Department18</string>
												<key>parent_id</key>
												<integer>19</integer>
												<key>subs</key>
												<array/>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>code</key>
		<integer>4</integer>
		<key>name</key>
		<string>Project</string>
		<key>parent_id</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>5</integer>
		<key>name</key>
		<string>ZKTeco</string>
		<key>parent_id</key>
		<string>-1</string>
		<key>subs</key>
		<array>
			<dict>
				<key>code</key>
				<integer>21</integer>
				<key>name</key>
				<string>Test Deaprtment1</string>
				<key>parent_id</key>
				<integer>5</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>22</integer>
						<key>name</key>
						<string>Test Deaprtment3</string>
						<key>parent_id</key>
						<integer>21</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>23</integer>
								<key>name</key>
								<string>Test Deaprtment4</string>
								<key>parent_id</key>
								<integer>22</integer>
								<key>subs</key>
								<array/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>code</key>
				<integer>24</integer>
				<key>name</key>
				<string>Test Deaprtment2</string>
				<key>parent_id</key>
				<integer>5</integer>
				<key>subs</key>
				<array>
					<dict>
						<key>code</key>
						<integer>25</integer>
						<key>name</key>
						<string>Deaprtment15</string>
						<key>parent_id</key>
						<integer>24</integer>
						<key>subs</key>
						<array>
							<dict>
								<key>code</key>
								<integer>26</integer>
								<key>name</key>
								<string>Department16</string>
								<key>parent_id</key>
								<integer>25</integer>
								<key>subs</key>
								<array>
									<dict>
										<key>code</key>
										<integer>27</integer>
										<key>name</key>
										<string>Department17</string>
										<key>parent_id</key>
										<integer>26</integer>
										<key>subs</key>
										<array>
											<dict>
												<key>code</key>
												<integer>28</integer>
												<key>name</key>
												<string>Department18</string>
												<key>parent_id</key>
												<integer>27</integer>
												<key>subs</key>
												<array/>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
